

<h1>More information about the selected movie</h1>
<p>you selected id: {{ data }}</p>
<p>{{ message }}</p>
<p><button  ng-click="addToFavourites(data)">Add to Favourites</button></p>

<h2>My Cart</h2>
        <div style="border: 1px solid blue;">
        </div>
        <table border="1" class="mytable">
        <tr>
        <td>Item</td>
           <td>Description</td>
           <td>Price</td>
        </tr>
        <tr ng-repeat="item in myCartItems">
                     <td>{{movie.Name}</td>
<td>{{movie.Year}}</td>
<td>{{movie.Plot}}</td>
        </tr>
       </table>