<h1>Search For Movie</h1>
<p>Type Movie name</p>

<p><input type="text" ng-model="searchTerm" ng-keydown="search($event)" autofocus></p>

<table>
  <tr ng-repeat="movie in movies">
    <td>{{movie.Title}}</td><td>{{ movie.plot }}</td><td><a href="#detail.html/{{data.Title}}">view</a></td>
    <td><button type="button" ng-click="addToFavourites(movie)">Add to favourites</button></td>
    <td><button type="button" ng-click="ViewMoreInfo(movie)">Description</button></td>
    
   
  </tr>
</table>